{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-characters");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
  <div class="row no-gutters">
    <div class="col-md-3">
      <div class="container h-100" style="background: url({{ page.extra.pagedoll }}); background-size: contain; background-position: center; background-repeat: no-repeat;"></div>
    </div>
    <div class="col-md-9">
      <div class="card p-2">
	<h3 class="mb-0 d-flex">
	  <span>{{ page.title }}</span>
	</h3>
	<h5 class="font-italic mx-2 mb-0">"{{ page.extra.quote }}"</h5>
        <span>
	  <a href="/characters#edanverse" class="mx-2">return</a>
	  {% for social in page.extra.socials %}
	  | <a href="{{ social.link }}" class="mx-2">{{ social.name }}</a>
	  {% endfor %}
      </div>
      <div class="card p-md-3 p-2 mt-2">
	<div class="row no-gutters">
	  <div class="col-md-6 pr-md-1">
	    <div class="row no-gutters">
	      {% for basic in page.extra.basics %}
	      <div class="col-md-6 px-md-1 d-flex" style="justify-content: space-between;">
		<strong class="text-uppercase">{{ basic.title }}</strong>
		<span>{{ basic.content|safe }}</span>
	      </div>
	      {% endfor %}
	    </div>
	    <h4 class="mt-2">Trivia</h4>
	      <ul class="list-unstyled pl-3 mb-0">
		{% for trivia_bullet in page.extra.trivia %}
		<li><i class="fas fa-minus mr-2"></i> {{ trivia_bullet }}</li>
	        {% endfor %}
	      </ul>
	    <h4 class="mt-2">Story</h4>
	    <div class="overflow-auto" style="height: 200px;">
	      {{ page.extra.bio|safe }}
	    </div>
	  </div>
	  <div class="col-md-6 pl-md-1 justify-content-center">
	    <div class="row no-gutters">
	      {% for moodboard_image in page.extra.moodboard %}
	      <div class="col-4 p-1">
		<div class="container" style="background: url({{ moodboard_image }}); background-size: cover; padding-top: 100%;"></div>
	      </div>
	      {% endfor %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <!--- additional content --->
  {{ page.content|safe }}
{% endblock content %}