{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-characters");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<div class="row no-gutters">
  <div class="col-md-8 p-1">
    <div class="card p-3">
      <h3>Characters</h3>
      <p>These are the main original characters I've created over the years and the stories they're a part of. All my other characters are being stored on <a href="https://toyhou.se/eggbyte">my toyhou.se</a>.</p>
      <p>You can also check out my <a href="/wishlist">art wishlist</a> for these characters if you're feeling generous! (or if you just want to check out some cool artists)</p>
    </div>
  </div>
  <div class="col-md-4 p-1">
    <div class="card h-100 p-3">
      <h3>Navigation</h3>
      <div class="d-flex flex-row flex-wrap">
        <a href="#edanverse" class="btn btn-taupe rounded-0 btn-sm m-1">Edanverse</a>
        <a href="#jupiter" class="btn btn-taupe rounded-0 btn-sm m-1">Jupiter's Moons</a>
        <a href="#quiet-towns" class="btn btn-taupe rounded-0 btn-sm m-1">Quiet Towns</a>
      </div>
    </div>
  </div>

  <div class="col-md-12 p-1">
    <div class="card h-100 p-3">
      <div id="edanverse" style="position: relative; top: -40px;"></div>
      <h3><a href="/characters/edanverse">Edanverse</a></h3>
      <p>The Edanverse is a massive fantasy world where demons, nymphs, and humans coexist. Find out who you are by taking my <a href="https://uquiz.com/IyUYpV">uquiz</a> and which affiliation you'd be under by taking <a href="https://uquiz.com/C4QM4H">this uquiz</a>!</p>
      <p><strong>Species:</strong>
        <span class="btn btn-sm btn-demon rounded-0">Demon</span>
        <span class="btn btn-sm btn-nymph rounded-0">Nymph</span>
        <span class="btn btn-sm btn-human rounded-0">Human</span>
      </p>
      <p><strong>Affiliation:</strong>
        <span class="btn btn-sm btn-sun rounded-0"><i class="fas fa-fire-alt mr-1"></i>Sun</span>
        <span class="btn btn-sm btn-stars rounded-0"><i class="fas fa-meteor mr-1"></i>Stars</span>
        <span class="btn btn-sm btn-sea rounded-0"><i class="fas fa-water mr-1"></i>Sea</span>
        <span class="btn btn-sm btn-sky rounded-0"><i class="fas fa-wind mr-1"></i>Sky</span>
        <span class="btn btn-sm btn-earth rounded-0"><i class="fas fa-seedling mr-1"></i>Earth</span>
      </p>
    </div>
  </div>

  <div class="col-12 p-1">
    {% set edan = get_section(path='characters/edanverse/_index.md') %}
    <div class="row no-gutters">

    {% for page in edan.pages %}
      <div class="col-lg-2 col-md-3 col-6 p-1">
        <div class="chara-card card p-1">
          <div class="card" style="background: url({{ page.extra.image }}); background-size: cover;">
            <a class="card text-center {{ page.extra.classes }} w-100" href="{{ page.permalink }}" style="padding-top: 100%;">
            </a>
          </div>
        </div>
        <div class="card p-2 my-1 text-center">
          <h5 class="text-uppercase"><a href="{{ page.permalink }}">{{ page.title }}</a></h5>
          <hr class="my-0">
          <span class="font-italic">{{ page.description }}</span>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>

  <div class="col-md-12 p-1">
    <div class="card h-100 p-3">
      <div id="jupiter" style="position: relative; top: -40px;"></div>
      <h3><a href="/characters/jupiters%20moons">Jupiter's Moons</a></h3>
      <p>Jupiter's Moons follows a team of three magical girls and their adventures fighting a mysterious organization called HERA.</p>
    </div>
  </div>

  <div class="col-12 p-1">
    {% set jupiter = get_section(path='characters/jupiters moons/_index.md') %}
    <div class="row no-gutters">

    {% for page in jupiter.pages %}
      <div class="col-lg-2 col-md-3 col-6 p-1">
        <div class="chara-card card p-1">
          <div class="card" style="background: url({{ page.extra.image }}); background-size: cover;">
            <a class="card text-center {{ page.extra.classes }} w-100" href="{{ page.permalink }}" style="padding-top: 100%;">
            </a>
          </div>
        </div>
        <div class="card p-2 my-1 text-center">
          <h5 class="text-uppercase"><a href="{{ page.permalink }}">{{ page.title }}</a></h5>
          <hr class="my-0 mx-2">
          <span>{{ page.description }}</span>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>

  <div class="col-md-12 p-1">
    <div class="card h-100 p-3">
      <div id="quiet-towns" style="position: relative; top: -40px;"></div>
      <h3><a href="/characters/quiet%20towns">Quiet Towns</a></h3>
      <p>Time walks itself into a circle in the quiet towns of Brookside and Ledford.</p>
    </div>
  </div>

  <div class="col-12 p-1">
    {% set quiet = get_section(path='characters/quiet towns/_index.md') %}
    <div class="row no-gutters">

    {% for page in quiet.pages %}
      <div class="col-lg-2 col-md-3 col-6 p-1">
        <div class="chara-card card p-1">
          <div class="card" style="background: url({{ page.extra.image }}); background-size: cover;">
            <a class="card text-center {{ page.extra.classes }} w-100" href="{{ page.permalink }}" style="padding-top: 100%;">
            </a>
          </div>
        </div>
        <div class="card p-2 my-1 text-center">
          <h5 class="text-uppercase"><a href="{{ page.permalink }}">{{ page.title }}</a></h5>
          <hr class="my-0 mx-2">
          <span class="font-italic">{{ page.description }}</span>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>

</div>
{% endblock content %}
