{% extends "group-page.html" %}
{% block extra %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class="card my-2 p-3 sticky-top">
  <div class="d-flex justify-content-center align-items-center flex-wrap">
    <h5 class="mb-0"><a href="#REGIONS" class="mx-2">the regions</a></h5>
    <h5 class="mb-0"><a href="#SPECIES" class="mx-3">the species</a></h5>
    <h5 class="mb-0"><a href="#HISTORY" class="mx-3">the history</a></h5>
    <h5 class="mb-0"><a href="#MORE" class="mx-3">further reading</a></h5>
    <h5 class="mb-0"><a href="#CHARAS" class="mx-3">characters</a></h5>
  </div>
</div>
<div class="card my-2 p-3 sticky-top" style="top: 57px;">
  <div class="d-flex justify-content-center flex-wrap">
    <a href="#REGIONS-MYTH" class="mx-2">mythology</a>
    <a href="#REGIONS-TRANSPORT" class="mx-2">transportation</a>
    <a href="#REGIONS-DIYU" class="mx-2">diyu</a>
    <a href="#REGIONS-VENERE" class="mx-2">venere</a>
    <a href="#REGIONS-DVAR" class="mx-2">dvar</a>
    <a href="#REGIONS-KUMO" class="mx-2">kumo</a>
    <a href="#REGIONS-EDAN" class="mx-2">edan</a>
  </div>
</div>
<div class="card my-2 p-3">
  <div id="REGIONS" style="position: relative; top: -120px;"></div>
  <h3>the regions</h3>
  <p>The Edanverse is a structure of three continents that are stacked on top of each other. At the very top is the
    floating island of Kumo, which floats in the sky. The surface continent is divided into Edan, the land-based portion,
    and Dvar, the oceanic region that also serves as a portal to the lower tier. The final continent rests below Edan, and
    is partitioned into the countries of Diyu and Venere.</p>
  <div id="REGIONS-MYTH" style="position: relative; top: -120px;"></div>
  <h5>mythology</h5>
  <p>It is believed across the land that all five regions were the creation of five patron deities: the Sun, the Star, the
    Sky, the Sea, and the Earth. It is also believed that all magick stems from the five deities and, as a result, each
    species is protective of their patron deity. While each region and species have different interpretations of what has
    happened to the five deities since, all acknowledge that the deities no longer exist in Edan, although there are
    disputes over whether or not they will return/if they ever even truly existed in the first place.
  </p>
  <p>The most popular of the stories of the five Deities saw them as "siblings" of sorts, with the eldest being the Sun,
    followed by the Earth, the Sea and Sky as twins, and then the Stars. The Sun had lived in solitude until the Universe
    granted them the Earth and, in the beginning, they had together created Humans.</p>
  <p>The Sun proceeded to create Demons while the Earth created Nymphs (the very first Yangwai and Sylphs). Watching their siblings, 
    the Sky created Demons (Jovenes) and the Sea created Nymphs (Meeren). Not able to choose between their elder siblings, the Stars 
    created both Nymphs (Etoilanges) and Demons (Aesht'fritun), thus forming the species inhabiting Edan today.</p>
  <p>The story's end generally follows the Sun becoming mad with power and, with great regret, the Earth, Sea, and Sky
    coming together to seal the Sun in the deepest pits of Diyu. The Stars, unable to bear the schism between their
    siblings, fled. For the years after, the Earth ruled Edan alone as the Sea and Sky were consumed by grief. Eventually,
    even the Earth left to wander the cosmos.</p>
  <div id="REGIONS-TRANSPORT" style="position: relative; top: -120px;"></div>
  <h5>transportation</h5>
  <p>Transportation between the three layers can be a complicated matter. The most common routes from Diyu and Venere to
    Edan are through Dvarish detours. Getting to Kumo is only possible through aircrafts, which are highly regulated.
    However, in recent years, Diyu has begun construction on Teleporters, although the technology is still in early stages
    and are at high risk of failure.
  </p>
  <!-- diyu -->
  <div id="REGIONS-DIYU" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-fire-alt mr-2 text-sun"></i>diyu</h5>
  <a href="https://i.imgur.com/7Ev4XVm.jpg">
    <img src="https://i.imgur.com/7Ev4XVm.jpg" class="mr-auto" style="max-height: 300px;">
  </a>
  <p>For the most part, Diyu is a flat and urbanized region. The land ceded to them by Venere following the Last War are
    the only mountainous regions in Diyu and, as a result, are primarily inhabited by Aesht'fritun rather than Yangwai.
  </p>
  <strong>notable locations</strong>
  <ul>
    <li>U'du, the capital of Diyu and where 90% of the populations lives in apartment-like complexes.</li>
    <li>Marianne/Maa'lan, ceded Venerian territory. Venerians still refer to the land as Marianne, while Diyu renamed the
      territory Maa'lan. The Aesht'fritun population is centered here.</li>
    <li>Y'ao, a sister location to the Dvarian Y'ohe</li>
    <li>Injung, one of the larger Diyu cities</li>
    <ul>
      <li>Amity Springs, a gated resort community where Lords and Ladys live.</li>
    </ul>
    <li>Springs Institutes, various insitutions across Diyu that act as schools. The number associated with the insittued
      (i.e. Ten Springs Institute) serves as a reference of how good the school is.</li>
    <li>Engfu, a closed off city where it is said the Noble Families live.</li>
  </ul>
  <strong>social structures</strong>
  <p>Diyu implements a rigid social hierarchy. At the top of the hierarchy are the Ten Noble Families (Jiang, Li, Yu, Lü,
    Bao, Bi, Dong, Huang, Lu, Xue), with lineages that
    can be traced all the way back to the era when Deities still existed. However, Noble Families are notoriously
    reclusive and selective and thus not much is known about them. Due to their reclusive nature, they have, in recent
    times, become little more than myths themselves.</p>
  <p>Right below the Noble Families are a vast amount of Lordships and Ladyships. This rank applies to wealthier residents
    of Diyu. Many of these Lordships and Ladyships will own a separate resort on the borders of Diyu rather than residing
    in the metropolitan area.</p>
  <p>Underneath Lordships and Ladyships are Merchants and Craftsfolk. The most flexible tier, peasants are able to quickly
    achieve Merchant or Craftsfolk status if they are able to attend school.</p>
  <p>Finally, the lowest tier consists of the peasantry. While many strive to enter the Merchants and Craftsfolk tier,
    families can often only afford to send one of their children to school.</p>
  <strong>culture and religion</strong>
  <p>Diyu, as a region, is not particularly religious. The region itself does not promote any holidays, although various
    holidays are still observed by families in private (especially migrant families). The Diyese are considered to be
    private people.</p>
  <strong>economy</strong>
  <p>Diyu is the lead in manufacturing, technology, and transportation. They are on relatively good terms with all the
    other regions in terms of trade, although they trade most frequently with Kumo.</p>
  <!-- venere -->
  <div id="REGIONS-VENERE" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-meteor mr-2 text-stars"></i>venere</h5>
  <a href="https://i.imgur.com/7Ev4XVm.jpg">
    <img src="https://i.imgur.com/7Ev4XVm.jpg" class="mr-auto" style="max-height: 300px;">
  </a>
  <p>Venere is bordered by mountain ranges on the left and Lower Dvar on the right. Although the mountain ranges once were
    considered Venerian territory, most of the range was ceded to Diyu after the Last War. Still, Venere is the rockiest
    of the five regions and has the greatest difference between minimum and maximum altitudes.</p>
  <strong>notable locations</strong>
  <ul>
    <li>Lume, the capital of Venere. It is the flattest of all the munincipalities. It is not highly populated, but is a
      popular tourist destination due to the beach.</li>
    <li>Arisii, the most populated munincipality of Venere. The East of Arisii consists of mostly apartment complexes.
    </li>
    <li>Montfeu, a sister location to what was previously Marianne (see Diyu). Montfeu is almost entirely mountain ranges.
    </li>
  </ul>
  <strong>social structures</strong>
  <p>In Venere, habitants exist in "family" clans. Although not all are related to each other, each of the clans exists
    with their own sets of rules and customs. However, clans are not static and habitants frequently switch clans as a
    result of marriage, friendships, or simply whim. Each clan does have their own initiation rituals (or lack thereof)
    for new clan members.</p>
  <p>Due to the annexation of Marianne, in recent years, previous residents of Marianne have split into two camps: while
    many chose to stay in what is now Maa'lan, some migrated into Montfeu. As a result of this, the border between Maa'lan
    and Venere often consists of more hierarchial clan systems with some even adhering more to Diyu social customs.</p>
  <strong>culture and religion</strong>
  <p>Venerians love to celebrate, although the reasons for celebration are often not of importance. There are not many
    regionally celebrated holidays, but Venerians love to host elaborate parties and celebrate achievements.</p>
  <strong>economy</strong>
  <p>Venere is the lead in luxury products, such as diamonds and gold. They also export exotic animals as pets. They trade
    most frequently with Edan and Diyu, although politically there is still tension with Diyu left over from the Last War.
    Venere-Kumo relations are even more tense and the two regions have high tariffs on each others' products.</p>
  <!-- dvar -->
  <div id="REGIONS-DVAR" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-water mr-2 text-sea"></i>dvar</h5>
  <div class="d-flex">
    <a href="https://i.imgur.com/7Ev4XVm.jpg" class="w-50">
      <img src="https://i.imgur.com/7Ev4XVm.jpg" class="mr-auto" style="max-height: 300px;">
    </a>
    <a href="https://i.imgur.com/5PczxV8.jpg" class="w-50">
      <img src="https://i.imgur.com/5PczxV8.jpg" class="mr-auto" style="max-height: 300px;">
    </a>
  </div>
  <p>Dvar is a underwater region that serves as a "portal" between Edan and Diyu/Venere. Spanning both the surface level
    and lower level, Dvar's main residencies are on the lower level while temples, schools, and businesses exist closer to
    the surface level. However, following the Last War, Dvar was abandoned and is now essentially a ghost region with very
    few residents.</p>
  <strong>notable locations</strong>
  <ul>
    <li>Apteel, the capital of Dvar</li>
    <ul>
      <li>Upper Level - the upper level of Apteel used to consist of administration buildings.</li>
      <li>Lower Level - the lower level of Apteel used to consist of mansions for wealthier Meeren.</li>
    </ul>
    <li>Serys</li>
    <ul>
      <li>Upper Level - the upper level of Serys was previously the entertainment district, which now hosts many abandoned
        clubs and shopping plazas</li>
      <li>Lower Level - the lower level of Serys consists of abandoned houses for the general public</li>
    </ul>
    <li>Bet</li>
    <ul>
      <li>Upper Level - the upper level of Bet is one of few Dvarian locations that are still habited. It consists of
        primarily temples.</li>
      <li>Lower Level - surrounded by Diyu territories, the lower level of Bet was previously used as a trade port between
        Dvar and Diyu and hosted a variety of housing that other species could access.</li>
    </ul>
    <li>Danna, a trade port and one of few Dvarish locations that are still habited.</li>
    <li>Makar, considered a sister location to Bet, consists of mostly temples.</li>
    <li>Y'ohe, the only location that exists only on the lower level, Y'ohe is badly polluted and was previously the
      poorest part of Dvar. It is a sister location to Y'ao.</li>
  </ul>
  <strong>social structures</strong>
  <p>Prior to the Last War and the abandonment, Dvar was a democratic society. Divided into sectors by the residential
    areas, elections and seminars were hosted to make major decisions. Of all the regions, Dvar was the most equal in
    terms of wealth distribution, although there did exist wealthy Dvarians.</p>
  <strong>culture and religion</strong>
  <p>Comparatively, Dvar was far more religious compared to the other regions. Even in the modern day, despite most
    regions being abandoned, Dvarian temples are still regularly tended to. There are quite a few Dvarian holidays
    celebrated, most being related to the Sea Deity.</p>
  <strong>economy</strong>
  <p>Dvar's main exports are seafood and energy, although exports are limited due to Dvar being mostly a ghost zone.</p>
  <!-- kumo -->
  <div id="REGIONS-KUMO" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-wind mr-2 text-sky"></i>kumo</h5>
  <a href="https://i.imgur.com/snC5AvF.jpg">
    <img src="https://i.imgur.com/snC5AvF.jpg" class="mr-auto" style="max-height: 300px;">
  </a>
  <p>As Kumo is a sky region, the geography is notably different from all the others. The texture of the ground is
    described often as cloud-like, although the terrain is mostly grassy.</p>
  <strong>notable locations</strong>
  <ul>
    <li>Oma, the capital of Kumo. It is cohabited by Jovenes and Etoilanges and is considered the financial capital
      aside being the political and geographical capital.</li>
    <li>Tari, the Northernmost location. It is much colder than the rest of Kumo and is habited by a few scattered groups
      of Jovenes and very few Etoilanges.</li>
    <li>Paruta, a trade port and military base. It has Kumo's only transportation hub and is the only place Kumoans can
      travel to other regions from. It is always under high security. </li>
    <li>Rho, a small island habited by almost exclusively Etoilanges. It is considered the knowledge capital of the
      world, contained a vast library and various Etoilange schools. Due to rigid guidelines, the schools are only
      accessible to Kumoans and even then, it is attended by almost exclusively Etoilanges.</li>
    <li>Aten, the second most populated location. The population skews more towards Jovenes, although Etoilanges also
      live here. Despite being heavily populated, it is an almost idyllic location.</li>
  </ul>
  <strong>social structures</strong>
  <p>Due to Kumo being closed off from the rest of the regions, the relationship between Kumoans are very tight-knit as
    they do not often get the ability to travel to other regions. The government is perhaps the most centralized out of
    all the regions, with the central Kumo Government dictating policies regarding education, travel, healthcare, and
    housing.</p>
  <p>A central Cabinet decides these policies. The identities of the central Cabinet are kept secret as to limit
    corruption.</p>
  <p>Kumo generally consists of the nuclear family structure, with 2-3 parental figures, and 2-3 children. Similar to the
    government, each family unit consists of an authority figure, and children are raised from a young age to respect
    elders/authority. </p>
  <strong>culture and religion</strong>
  <p>Kumoans place a heavy emphasis on education, both in terms of academic and physical. While the schools on Rho are
    considered the best in the region, Kumo has perhaps the largest amount of institutes despite being one of the smallest
    regions. While most institutes are all-encompassing, Kumoans also pride themselves on their creation of specialty
    schools for specialized training in specific fields.</p>
  <p>Kumoans are not particularly religious, although religious courses are taught across the region. There are few
    Kumoans that choose to pursue religious studies as well. Even with religion, Kumoans typically take a more logical
    approach, with fields like archaeology and history being more popular.</p>
  <strong>economy</strong>
  <p>Kumo's main exports include agriculture and highly specialized technology. Due to their closed off borders, they do
    not export goods often. They trade most frequently with Diyu, although even then, they choose mainly to import ships
    and trade routes are highly surveilled.</p>
  <!-- edan -->
  <div id="REGIONS-EDAN" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-seedling mr-2 text-earth"></i>edan</h5>
  <a href="https://i.imgur.com/5PczxV8.jpg">
    <img src="https://i.imgur.com/5PczxV8.jpg" class="mr-auto" style="max-height: 300px;">
  </a>
  <p>Edan is the most diverse in terms of the species that habit it and geographical terrain with three mountain ranges,
    beachy areas, forests, and plains.</p>
  <strong>notable locations</strong>
  <ul>
    <li>Terres, the new capital of Edan following the Last War. It is the most diverse location, with all species
      congregating. It has both residential areas, marketplaces, and a Central Temple.</li>
    <li>Massu, the old capital of Edan. Prior to the great war, it encompassed parts of Terres. It consists of mainly
      plains, and is home to various nomadic tribes.</li>
    <li>Azrelle, the most peaceful of the lands. It consists of plains, beaches, and a few scattered forests. It is the
      second most densely populated location after Terres and a popular tourism destination.</li>
    <li>Khamae, one of few places where it is eternally cold. The mountains block Khamae off from the rest of Edan, with
      the flatland region almost always covered in snow. It is not very highly populated, although there are rumors of
      Demon Coalition territories hidden in the mountains.</li>
    <li>Shivra, with mountains on the western front is mostly forest. It is habited by primarily Sylphs in small
      agricultural villages. It has a few temple structures.</li>
    <li>Essandre, a mostly flatland territory with a few foresty parts. It hosts various villages, including a few that
      are inhabited primarily by migrated Demons.</li>
  </ul>
  <strong>social structures</strong>
  <p>There is no cohesive political or social structure in Edan due to its size. However, most activity is centered in
    Terres while the other locations are primarily governed at the discretion of the residents. Terres is considered a
    middle ground for all six species, with laws regarding inter-regional trade all being decided in Terres.</p>
  <p>Edan is a host to quite a few different social structures outside of Terres, although the most prominent are
    village-cities that are governed at each one's discretion, nomadic tribes that wander from location to location,
    temple/religious cities inhabited primarily by religious figures, and sanctuary cities.</p>
  <strong>culture and religion</strong>
  <p>Since Edan is home to both religious and non-religious species, Terres observes many holidays. Other locations in
    Edan will often celebrate only select holidays under their specific Deity. </p>
  <strong>economy</strong>
  <p>Outside of Terres, Edan is primarily agricultural. Terres itself is a trade port for all other regions and thus also
    serves as a financial base. Edan trades the most frequently with all regions.</p>
</div>
<!-- species -->
<div class="card my-2 p-3 sticky-top" style="top: 57px;">
  <div class="d-flex justify-content-center flex-wrap">
    <a href="#SUN-DEMONS" class="mx-2">yangwai</a>
    <a href="#STAR-DEMONS" class="mx-2">aesht'fritun</a>
    <a href="#STAR-NYMPHS" class="mx-2">etoilanges</a>
    <a href="#SEA-NYMPHS" class="mx-2">meeren</a>
    <a href="#SKY-DEMONS" class="mx-2">jovenes</a>
    <a href="#EARTH-NYMPHS" class="mx-2">sylphs</a>
  </div>
</div>
<div class="card my-2 p-3">
  <div id="SPECIES" style="position: relative; top: -120px;"></div>
  <h3>the species</h3>
  <p>The Edanverse is inhabited by a total of seven species divided into three subcategories. There are three demon
    species: Yangwai (Sun-Affiliated), Aesht'fritun (Star-Affiliated), and Jovenes (Sky-Affiliated). Similarly, there are
    three nymph species: Etoilanges (Star-Affiliated), Meeren (Sea-Affiliated), and Sylphs (Earth-Affiliated). Finally,
    the last species are humans.</p>
  <h5><i class="fas fa-fire mr-2 text-demon"></i>demons</h5>
  <p>Demons are the largest population in the Edanverse. While they are further divided by their respective
    affiliations, most demons have strong connections to the physical world and are very rooted beings.</p>
  <h5><i class="fas fa-leaf mr-2 text-nymph"></i>nymphs</h5>
  <p>Nymphs are the smallest population in the Edanverse. While they are further divided by their respective
    affiliations, most nymphs have a strong connection to their own emotional state and are meditatitive beings.</p>
  <h5><i class="fas fa-heart mr-2 text-human"></i>humans</h5>
  <p>While human populations were previously low in the past, more emerged following the war. They are the only
    completely magickless beings and are very community-oriented as a result. While their base affiliation is always
    with the Earth (as a result of the Sun going mad with power), occasionally humans will find patronage under
    another deity (with very, very few falling under the Sun). They do not gain any powers under this switch.
  </p>
  <!-- sun demons -->
  <div id="SUN-DEMONS" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-fire-flame-curved mr-2 text-sun"></i>yangwai</h5>
  <div class="row no-gutters">
    <div class="col-md-7 p-1">
      <img src="https://i.imgur.com/bpKzMk2.png" class="w-100">
    </div>
    <div class="col-md-5 p-1">
      <ul class="list-unstyled">
        <li><strong>Official Name:</strong> Yangwai (<small>PL</small> Yangwai)</li>
        <li><strong>Alias:</strong> Sun Demon</li>
        <li><strong>Governance:</strong> Ambition</li>
        <li><strong>Magickal Ability:</strong> Can summon flames</li>
        <li><strong>Primary Location:</strong> Diyu</li>
      </ul>
      <!-- notes -->
      <ul>
        <li>Even within the Yangwai subspecies, there are further divisions:</li>
        <ul>
          <li>U'du Yangwai tend to be more red and have curved horns, their names tend to be Mandarin</li>
          <li>Western Injung Yangwai tend to be more red and have straight horns, their last names tend to be Canto (first names are anything)</li>
          <li>Eastern Injung Yangwai tend to be more orange and have twisted horns, their last names tend to be Korean and first names unusual</li>
          <li>Y'ao Yangwai tend to be more yellow and have downward curved horns (like ram horns), their names tend to be Japanese</li>
          <li>Maa'lan Yangwai are often mixed with Aesht'fritun; they will retain Yangwai traits but will often be purple in
            color and will sometimes have tails</li>
        </ul>
      </ul>
      <img src="https://eqqbyte.netlify.app/hand%20guide.png" class="w-100">
    </div>
  </div>
  <!-- star demons -->
  <div id="STAR-DEMONS" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-meteor mr-2 text-stars"></i>aesht'fritun</h5>
  <div class="row no-gutters">
    <div class="col-md-7 p-1">
      <img src="https://i.imgur.com/YJUgASZ.png" class="w-100">
    </div>
    <div class="col-md-5 p-1">
      <ul class="list-unstyled">
        <li><strong>Official Name:</strong> Aesht'frit (<small>PL</small> Aesht'fritun)</li>
        <li><strong>Alias:</strong> Star Demon</li>
        <li><strong>Governance:</strong> Fun</li>
        <li><strong>Magickal Ability:</strong> Faster healing, superhuman strength</li>
        <li><strong>Primary Location:</strong> Venere and Diyu</li>
      </ul>
      <!-- notes -->
      <ul>
        <li>Goat ears can be any breed of goat</li>
        <li>The breed of goat is dependent on biological family</li>
        <li>Montfeu/Marianne/Maa'lan Aesht'fritun tend to have Indian names</li>
        <li>Lume Aesht'fritun tend to have Arabic names</li>
        <li>Arisii Aesht'fritun tend to have Filipino names</li>
      </ul>
      <img src="https://eqqbyte.netlify.app/hand%20guide.png" class="w-100">
    </div>
  </div>
  <!-- star nymphs -->
  <div id="STAR-NYMPHS" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-star-of-life mr-2 text-stars"></i>etoilanges</h5>
  <div class="row no-gutters">
    <div class="col-md-7 p-1">
      <img src="https://i.imgur.com/xXm4Hyt.png" class="w-100">
    </div>
    <div class="col-md-5 p-1">
      <ul class="list-unstyled">
        <li><strong>Official Name:</strong> Etoilange (<small>PL</small> Etoilanges)</li>
        <li><strong>Alias:</strong> Star Nymph</li>
        <li><strong>Governance:</strong> Emotion</li>
        <li><strong>Magickal Ability:</strong> Teleportation (not all can control the when and where)</li>
        <li><strong>Primary Location:</strong> Kumo</li>
      </ul>
      <!-- notes -->
      <ul>
        <li>Similar to Yangwai, there are two divisions:</li>
        <ul>
          <li>Rho Etoilanges are more likely to get galaxy vitiligo and are generally paler in skin tone, their names tend to be French</li>
          <li>Oma Etoilanges are more likely to have starry freckles and are generally darker in skin tone, their names tend to be Arabic</li>
        </ul>
      </ul>
    </div>
  </div>
  <!-- sea nymphs -->
  <div id="SEA-NYMPHS" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-water mr-2 text-sea"></i>meeren</h5>
  <div class="row no-gutters">
    <div class="col-md-7 p-1">
      <img src="https://i.imgur.com/D7lptCQ.png" class="w-100">
    </div>
    <div class="col-md-5 p-1">
      <ul class="list-unstyled">
        <li><strong>Official Name:</strong> Meeran (<small>PL</small> Meeren)</li>
        <li><strong>Alias:</strong> Sea Nymph</li>
        <li><strong>Governance:</strong> Peace/Knowledge</li>
        <li><strong>Magickal Ability:</strong> Clairvoyance (visions of past/present/future)</li>
        <li><strong>Primary Location:</strong> Edan, formerly Dvar</li>
      </ul>
      <!-- notes -->
      <ul>
        <li>Flora types are generally either flora with some connection to water or flora found near water</li>
        <li>Flora usually grows out of only one side, but often Meeren will decorate the other side to match</li>
        <li>Their names tend to be French and Welsh</li>
      </ul>
    </div>
  </div>
  <!-- sky demons -->
  <div id="SKY-DEMONS" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-wind mr-2 text-sky"></i>jovenes</h5>
  <div class="row no-gutters">
    <div class="col-md-7 p-1">
      <img src="https://i.imgur.com/5d4Xr5X.png" class="w-100">
    </div>
    <div class="col-md-5 p-1">
      <ul class="list-unstyled">
        <li><strong>Official Name:</strong> Jovene (<small>PL</small> Jovenes)</li>
        <li><strong>Alias:</strong> Sky Demon</li>
        <li><strong>Governance:</strong> Senses</li>
        <li><strong>Magickal Ability:</strong> Illusions, Shapeshifting (only very powerful ones)</li>
        <li><strong>Primary Location:</strong> Kumo</li>
      </ul>
      <!-- notes -->
      <ul>
        <li>More eyes is generally associated with higher magickal ability, although there is no actual scientific backing for it</li>
        <li>Their names tend to be Italian</li>
      </ul>
    </div>
  </div>
  <!-- earth nymphs -->
  <div id="EARTH-NYMPHS" style="position: relative; top: -120px;"></div>
  <h5><i class="fas fa-seedling mr-2 text-nymph"></i>sylphs</h5>
  <div class="row no-gutters">
    <div class="col-md-7 p-1">
      <img src="https://i.imgur.com/pZPWIvG.png" class="w-100">
    </div>
    <div class="col-md-5 p-1">
      <ul class="list-unstyled">
        <li><strong>Official Name:</strong> Sylph (<small>PL</small> Sylphs)</li>
        <li><strong>Alias:</strong> Earth Nymph</li>
        <li><strong>Governance:</strong> Love</li>
        <li><strong>Magickal Ability:</strong> Healing (not just self, but others)</li>
        <li><strong>Primary Location:</strong> Edan</li>
      </ul>
      <!-- notes -->
      <ul>
        <li>Maculine-presenting Sylphs tend to grow flora out of their right side while feminine-presenting Sylphs
          tend to grow flora out of their left side (left and right refer to viewers' left and right)</li>
        <li>Those that are in between masculine and feminine presenting will often decorate their non-growth side to appear as
          if flora grows out of both sides</li>
        <li>Massu Sylphs tend to have Mandarin names, Shivra Arabic, Terres Greco-Roman, Essandre French and English, and
          Azrelle German</li>
      </ul>
    </div>
  </div>
  <p>I also created a helpful color guide <a href="https://eqqbyte.netlify.app/color%20guide.png">here</a>.</p>
</div>
<div class="card my-2 p-3">
  <div id="HISTORY" style="position: relative; top: -120px;"></div>
  <h3>the history</h3>
  <p>The Edanverse was, for the most part, a peaceful place up until what many call The Last War. While each region
    presents its own take on who started the war and why, the war ended up becoming a territorial dispute fought between
    various factions. There were four primary factions during the war:</p>
  <ul>
    <li>the Demon Alliance (Yangwai, Aesht'fritun, Jovenes) - an alliance formed under the assumption that Demonkind would
      gain territories in Edan, a faction that saw early victories in battle</li>
    <li>the Sylven Alliance (Sylphs and Meeren) - an alliance formed against the DA to protect Sylven land</li>
    <li>the Diyu-Venere Alliance (Yangwai, Etoilanges, and Aesht'fritun) - an alliance that sprung out later during the war
      as the DA began losing territory in Diyu and Venere</li>
    <li>the SDSN (Yangwai and Etoilanges) - an alliance that sprung out from the DVA consisting of leadership from the
      higher-class members of both Yangwai and Etoilange society</li>
  </ul>
  <p>Ultimately, it was the SDSN Coalition that ended the war through a combination of greater resources and shady
    tactics. As a result, the SDSN controlled much of the political landscape in the three years directly following the
    war. The SDSN was ultimately unable to maintain political control and, due to the frequent rebellions, a summit was
    held to create treaties between the species.</p>
  <p>Each region sent two representatives to discuss future alliances at the final summit. Organized and moderated by the
    SDSN, the main conclusions drawn from the summit were the ceding of 80% of Venerian land to Diyu, the closing of Kumo
    to outsiders, the migration of Etoilanges from Venere to Kumo, and the construction of Terres, the capitol of Edan
    and a peace-zone for all five regions.</p>
  <p>The construction of Terres was again headed by the SDSN, which also installed a Central Council in Terres to prevent
    future disputes. While the Central Council, a diverse collection of region representatives and species
    representatives, eventually succeeded the SDSN as the primary political faction for the Edanverse, the SDSN continued
    to maintain economic control.</p>
</div>
<div class="card my-2 p-3">
  <div id="MORE" style="position: relative; top: -120px;"></div>
  <h3>further reading</h3>
  <p>Here are some notes on the characters I have specific to this story:</p>
  <ul>
    <li><a href="https://toyhou.se/~literature/113866.edanverse-notes">Notes on general plot, personalities, and AUs</a></li>
    <li><a href="https://toyhou.se/14599871.character-memes/gallery">Collection of character memes</a></li>
  </ul>
</div>
{% endblock extra %}

{% block edanverse %}
<div id="CHARAS" style="position: relative; top: -150px;"></div>
<p>Find out who you are by taking my <a href="https://uquiz.com/IyUYpV">uquiz</a> and which affiliation you'd be under by taking <a href="https://uquiz.com/C4QM4H">this uquiz</a>!</p>
{% endblock edanverse %}
