{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-characters");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<div class="card p-3">
  <h1>{{ section.title }}</h1>
  <p class="m-0">{{ section.description }}</p>
  <p>{{ section.content | safe }}</p>
</div>
{% block extra %} {% endblock extra %}
<div class="card my-2 p-3">
  <h3>characters</h3>
  {% block edanverse %} {% endblock edanverse %}
</div>
<div class="row no-gutters">
    {% for page in section.pages %}
      <div class="col-lg-2 col-md-3 col-6 p-1">
        <div class="chara-card card p-1">
          <div class="card border-0" style="background: url({{ page.extra.image }}); background-size: cover;">
            <a class="card text-center {{ page.extra.classes }} w-100 border-0" href="{{ page.permalink }}" style="padding-top: 100%;">
            </a>
          </div>
        </div>
        <div class="card p-2 my-1 text-center">
          <h5 class="text-uppercase"><a href="{{ page.permalink }}">{{ page.title }}</a></h5>
          <hr class="my-0 mx-2">
          <span class="font-italic">{{ page.description }}</span>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock content %}