{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-home");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<div class="row no-gutters">
  <div class="col-md-6 p-1">
    <div class="card" style="background: url(https://64.media.tumblr.com/426b3e5088ceba42de450d9c37f574a4/88369c247afdc419-ca/s640x960/9918f296081c83412083c7a1a7d013492519e721.jpg); background-size: cover; height: 300px;"></div>
    <div class="card p-1 px-3 mt-2">
      <h1>welcome!</h1>
    </div>
    <div class="card p-md-3 p-2 mt-2">
      <p>hi! my name's <span class="text-primary">Agnes</span>, but I prefer being called <span class="text-primary">Egg</span> unless we're friends. <i class="fas fa-heart ml-1"></i></p>
      <p> I made this site as an alternative to Carrd so I could have more free range over how everything looks. it's a bit of a permanent work in progress, but feel free to take a look around.</p>
    </div>
    <div class="card p-md-3 p-2 mt-2">
      <span><strong>image credits —</strong> <a href="https://princeharu.tumblr.com/post/666190350213382144">banner</a> . </span>
    </div>
  </div>
  <div class="col-md-6 p-1">
    <div class="card p-1 px-3 mt-3">
      <h3 class="mb-0">navigation</h3>
    </div>
    <div class="card p-md-3 p-2 mt-2">
      <div class="d-flex flex-wrap justify-content-center">
	<a href="/characters" class="btn btn-rose rounded-0 m-1">my characters</a>
	<a href="/media" class="btn btn-rose rounded-0 m-1">interests</a>
	<a href="https://8byte.netlify.app" class="btn btn-rose rounded-0 m-1">code commissions</a>
	<a href="https://toyhou.se/eqqbyte/characters" class="btn btn-rose rounded-0 m-1">unsold designs</a>
	<a href="/wishlist" class="btn btn-rose rounded-0 m-1">art wishlist</a>
      </div>
      <hr>
      <p class="font-italic text-center">come say hi on other sites!</p>
      <span class="social-links text-center">
        <a href="https://eqqbyte.tumblr.com" class="m-1"><i class="fab fa-tumblr mr-1"></i> eqqbyte</a>
        <a href="https://twitter.com/eqqbyte" class="m-1"><i class="fab fa-twitter mr-1"></i> eqqbyte</a>
        <a href="https://toyhou.se/eggbyte" class="m-1"><i class="fas fa-home mr-1"></i> eggbyte</a>
        <a href="https://toyhou.se/8byte" class="m-1"><i class="fas fa-code mr-1"></i> 8byte</a>
        <a class="m-1"><i class="fab fa-discord mr-1"></i> egg#4802</a>
      </span>
    </div>
    <div class="row no-gutters">
      <div class="col-md-6 pr-md-1 p-md-0 py-1">
	<div class="card p-1 px-3 mt-2">
          <h4 class="mb-0">basic abt me</h4>
        </div>
        <div class="card p-md-3 p-2 mt-2">
          <ul class="list-unstyled mb-0">
	    <li><i class="fas fa-birthday-cake mr-2"></i> 20</li>
	    <li><i class="fas fa-venus-mars mr-2"></i> she/her</li>
	    <li><i class="fas fa-dna mr-2"></i> chinese</li>
	  </ul>
        </div>
      </div>
      <div class="col-md-6 pl-md-1 p-md-0 py-1">
	<div class="card p-1 px-3 mt-2">
          <h4 class="mb-0">currently consuming</h4>
        </div>
        <div class="card p-md-3 p-2 mt-2">
          <ul class="list-unstyled mb-0">
	    <li><i class="fas fa-tv mr-2"></i> the patient</li>
	    <li><i class="fas fa-music mr-2"></i> the front bottoms, bay fac</li>
	    <li><i class="fas fa-book mr-2"></i> my year of rest and relaxation</li>
	  </ul>
        </div>
      </div>
    </div>
    <div class="card p-1 px-3 mt-2">
      <h4 class="mb-0">other cool people :)</h4>
    </div>
    <div class="card p-md-3 p-2 mt-2">
      <span class="social-links text-center">
	<a href="https://twitter.com/jovianplanets" class="m-2"><i class="fas fa-leaf mr-1"></i> amanda</a>

	<a href="https://twitter.com/mvaidemar" class="m-2"><i class="fas fa-sun mr-1"></i> jiya</a>

	<a href="https://toyhou.se/SparklyLightus" class="m-2"><i class="fas fa-star mr-1"></i> sparkly</a>

	<a href="https://toyhou.se/noll" class="m-2"><i class="fas fa-fish mr-1"></i> noll</a>

	<a href="https://toyhou.se/eithorne" class="m-2"><i class="fas fa-coffee mr-1"></i> elliott</a>

	<a href="https://toyhou.se/itto" class="m-2"><i class="fas fa-hat-cowboy-side mr-1"></i> k</a>

	<a href="https://toyhou.se/oxykiin" class="m-2"><i class="fas fa-dna mr-1"></i> oxy</a>

	<a href="https://toyhou.se/peachybonnie" class="m-2"><i class="fas fa-heart mr-1"></i> vee</a>

	<a href="https://toyhou.se/l1n6l1n6" class="m-2"><i class="fas fa-pen-nib mr-1"></i> ling</a>

	<a href="https://toyhou.se/PinkyFlamingo" class="m-2"><i class="fas fa-bug mr-1"></i> bee</a>
      </span>
    </div>
  </div>
</div>
{% endblock content %}
