<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>friedeggtarts</title>
  <base href="https://friedeggtarts-v1.netlify.app/">
  <link rel="icon" href="egg.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../egg.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/df4414359e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="navbar" id="navigation">
    <div class="edges"></div>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="/" id="nav-home"> Home </a></li>
      <li class="nav-item"><a class="nav-link" href="/characters" id="nav-characters"> Characters </a></li>
      <li class="nav-item"><a class="nav-link" href="/commissions" id="nav-comms"> Commissions </a></li>
      <li class="nav-item"><a class="nav-link" href="/media" id="nav-media"> Interests </a></li>
      <li class="nav-item"><a class="nav-link" href="/credits" id="nav-credits"> Credits </a></li>
    </ul>
  </div>
  <div class="container" id="content">
{% block content %} {% endblock content %}
  </div>

  <script>
    var nav = document.getElementById("navigation");
    $(function() {
      $(document).scroll(function() {
        if ($("#navigation").position().top == 0) {
          nav.classList.remove("atTop");
        } else {
          nav.classList.add("atTop");
        }
      });
    });
  </script>
  {% block script %} {% endblock script %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>
