{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-comms");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<div class="card p-3 border-0">
  <h1>commissions</h1>
  <h4>What are you looking for?</h4>

  <div id="parent-collapse">
    <div class="d-flex flex-row">
      <a class="btn btn-primary w-100 mx-1" data-bs-toggle="collapse" href="#toyhouse" role="button" aria-expanded="false" aria-controls="toyhouse">
        Toyhouse Coding
      </a>
      <a class="btn btn-primary w-100 mx-1" data-bs-toggle="collapse" href="#static-sites" role="button" aria-expanded="false" aria-controls="static-sites">
        Static Sites
      </a>
      <a class="btn btn-primary w-100 mx-1" data-bs-toggle="collapse" href="#other-code" role="button" aria-expanded="false" aria-controls="other-code">
        Other
      </a>
    </div>
    <div class="collapse" id="toyhouse" data-bs-parent="#parent-collapse">
      <div class="p-3">
        <p>I do both HTML and CSS customs for <a href="https://toyhou.se">toyhou.se</a>. These codes cannot be used on any other site.</p>
        <p>You can find my prices and terms of service for toyhouse codes <a href="https://toyhou.se/~bulletins/278637.customs-tos-and-prices">here</a>.</p>
        <h4>examples</h4>
        <div class="row no-gutters">
          <div class="col-md-3 col-6 p-1">
            <a class="w-100" href="https://toyhou.se/12454478.bakery">
              <img class="w-100" src="https://f2.toyhou.se/file/f2-toyhou-se/characters/12454478?1629679164" style="height: 150px;">
            </a>
          </div>
          <div class="col-md-3 col-6 p-1">
            <a class="w-100" href="https://toyhou.se/11777763.satsuki">
              <img class="w-100" src="https://f2.toyhou.se/file/f2-toyhou-se/characters/11777763?1625444698" style="height: 150px;">
            </a>
          </div>
          <div class="col-md-3 col-6 p-1">
            <a class="w-100" href="https://toyhou.se/11972264.ketchie">
              <img class="w-100" src="https://f2.toyhou.se/file/f2-toyhou-se/characters/11972264?1626741025" style="height: 150px;">
            </a>
          </div>
          <div class="col-md-3 col-6 p-1">
            <a class="w-100" href="https://toyhou.se/10817032.mispi">
              <img class="w-100" src="https://f2.toyhou.se/file/f2-toyhou-se/characters/10817032?1619135088" style="height: 150px;">
            </a>
          </div>
        </div>
        <p class="text-right">
          <a href="https://toyhou.se/8byte/characters">View all <i class="fas fa-chevron-right ml-2"></i></a>
        </p>
      </div>
    </div>
    <div class="collapse" id="static-sites" data-bs-parent="#parent-collapse">
      <div class="p-3">
        <p>Static sites are sites like these! They can be used as a portfolio site, as a replacement for carrd, a place to host your comic, or anything else you might think of. Static sites do not interact with the viewer in any way, if you are interested in Dynamic Sites, check out the other tab.</p>
        <div class="row no-gutters">
	  <div class="col-md-6 p-1">
	    <h4>terms of service</h4>
            <ol>
              <li>The commission does not include hosting fees, custom domains, or setup*.</li>
              <li>Payment will be done in halves, half upfront and half paid once you have approved the preview site. You will receive all the site files once I have received the second half of the payment.</li>
              <li>I currently accept payments through Paypal only.</li>
              <li>I do not refund payments unless I am the one to cancel the commission.</li>
              <li>Do not message me about the commission except for check-in dates/times.</li>
            </ol>
            <p>*I recommend <a href="https://www.netlify.com/">Netlify</a>, <a href="https://pages.github.com/">Github Pages</a>, and <a href="https://www.heroku.com/">Heroku</a> for hosting.</p>
	  </div>
	  <div class="col-md-6 p-1">
	    <h4>process</h4>
            <ol>
              <li>Send me a message (<a class="tooltipster" title="egg#8080">Discord</a> preferred) with "code commission" somewhere in the original message.</li>
              <li>In your message, please include a mockup of <strong>every</strong> page you will need for your website. For static site commissions, I will <strong>not</strong> work off of descriptions only. Your mockup can be a very simple sketch with text descriptions, but I must have an image mockup to work from.</li>
              <li>I will give you a price quote, an approximate time-frame for the project, and a list of questions. Once the price is verified and the questions answered, I will send an invoice for the first half. Please pay this within ten days.</li>
              <li>I will have 2-10 progress checks depending on the site's complexity. During this time, please let me know any change you want made. There is a cap on progress checks, so please be thorough during each.</li>
              <li>Once all progress checks have been completed, I will send the invoice for the second half of the invoice. Please pay this within ten days.</li>
              <li>Once I have received the payment, I will email you the files.</li>
            </ol>
	  </div>
        </div>
        <h4>pricing</h4>
        <p>My starting rate is $100, with $50 for each additional page. If the site requires complex JavaScript, the price may be higher.</p>
      </div>
    </div>
    <div class="collapse" id="other-code" data-bs-parent="#parent-collapse">
      <div class="p-3">
        <p>The below table summarizes other things I will and won't do!</p>
        <p><strong>Key:</strong></p>
          <ul class="list-unstyled">
            <li><i class="fas fa-check mr-2"></i> - I can do this, message me for a price quote</li>
            <li><i class="fas fa-question mr-2"></i> - I need more information, message me with more details</li>
            <li><i class="fas fa-times mr-2"></i> - I cannot/am not interested in doing this</li>
          </ul>
        <h4>other types</h4>
        <div class="row no-gutters">
        <div class="col-md-4 p-1">
          <ul class="list-unstyled">
            <li><i class="fas fa-check mr-2"></i> - simple web app (minimal user interation)</li>
            <li><i class="fas fa-question mr-2"></i> - complex web app (heavy user engagement)</li>
          </ul>
        </div>
        <div class="col-md-4 p-1">
          <ul class="list-unstyled">
            <li><i class="fas fa-question mr-2"></i> - database management</li>
            <li><i class="fas fa-question mr-2"></i> - Weebly/Wix/Wordpress editing</li>
          </ul>
        </div>
        <div class="col-md-4 p-1">
          <ul class="list-unstyled">
            <li><i class="fas fa-times mr-2"></i> - UI design</li>
            <li><i class="fas fa-times mr-2"></i> - Carrd editing</li>
          </ul>
        </div>
        </div>
        <p>If you are interested in something that wasn't listed previously, please shoot me a message!</p>
      </div>
    </div>
  </div>


</div>
<div class="card p-3 mt-3 text-center border-0">
  © 2021 • 8byte
</div>

{% endblock content %}