{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-home");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}

<div class="card intro-card mx-auto mb-5 p-3 border-0" style="max-width: 800px;">
      <div class="row no-gutters">
        <div class="col-md-8 order-md-1 order-2 p-4">
          <h1>hello!</h1>
          <p>Hi! My name's Agnes, but I prefer being called <strong>Egg</strong> unless we're friends <i class="fas fa-heart"></i>.</p>
          <p>I made this site since <a href="https://carrd.co/">carrd</a> is a little... too limited for me. It's a permanent work in progress, but feel free to take a look around!</p>
          <h3>my social media</h3>
          <p>These are just the social media I'm active on/check regularly!</p>
          <ul class="list-unstyled ml-3">
            <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> <a href="https://eggscellence.tumblr.com">tumblr @ eggscellence</a></li>
            <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> <a href="https://twitter.com/friedeggtarts">twitter @ friedeggtarts</a></li>
            <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> <a href="https://toyhou.se/friedeggtarts">toyhouse @ friedeggtarts</a></li>
            <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> <a href="https://toyhou.se/8byte">toyhouse @ 8byte (code account)</a></li>
            <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> <a href="#">discord @ egg#8080</a></li>
          </ul>
        </div>
        <div class="col-md-4 order-md-2 order-1">
          <div class="p-4 h-100 side-box" style="background: #f7e5d7;">
            <div class="rounded-circle p-2" style="border: 3px dashed #c4bfdb;">
              <div class="rounded-circle w-100" style="background: url(https://pbs.twimg.com/profile_images/1430297095181791232/1WWGhnBm_400x400.jpg); background-size: cover; padding-top: 100%;"></div>
            </div>
            <p class="d-flex justify-content-between mt-4 mb-0">
              <span class="p-1"><strong>pronouns</strong></span>
              <span>she/her</span>
            </p>
            <p class="d-flex justify-content-between my-0">
              <span class="p-1"><strong>age</strong></span>
              <span>19</span>
            </p>
            <p class="d-flex justify-content-between my-0">
              <span class="p-1"><strong>ethnicity</strong></span>
              <span>chinese</span>
            </p>
            <br>
            <p class="text-center mb-0 mt-2">
              <a href="#">
              <i class="fas fa-heart"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

<div class="card p-3 mt-3 text-center border-0">
  © 2021 • 8byte
</div>
{% endblock content %}
