{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-media");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<div class="row no-gutters">
  <div class="col-md-8 p-1">
    <div class="card p-3 border-0">
      <h1>interests</h1>
      <p>My interests tend to be all over the place, so here's where you can find (almost) everything I've watched/listened to/read that's had some impact on me.</p>
      <p>I also use this space to keep track of anti-interests, please don't bring up anything listed in that box with me! I do not care if you enjoy them and we can still interact, I just prefer not to talk about them.</p>
    </div>
  </div>
  <div class="col-md-4 p-1">
    <div class="card h-100 p-3 border-0">
      <h1>navigation</h1>
      <div class="d-flex flex-row flex-wrap">
        <a href="/media#characters" class="badge badge-pill badge-primary m-1">Characters</a>
        <a href="/media#films" class="badge badge-pill badge-primary m-1">Movies/TV</a>
        <a href="/media#books" class="badge badge-pill badge-primary m-1">Books</a>
        <a href="/media#celebs" class="badge badge-pill badge-primary m-1">Celebrities</a>
        <a href="/media#anime" class="badge badge-pill badge-primary m-1">Anime</a>
        <a href="/media#misc" class="badge badge-pill badge-primary m-1">miscellaneous</a>
        <a href="/media#music" class="badge badge-pill badge-primary m-1">Music</a>
        <a href="/media#anti" class="badge badge-pill badge-primary m-1">Anti-Interests</a>
      </div>
    </div>
  </div>


  <div class="col-md-4 px-1">
    <div class="card p-3 my-2 border-0">
      <div id="characters" style="position: relative; top: -40px;"></div>
      <h1>characters</h1>
      <p>
        <strong>Note:</strong> Characters with a <i class="fas fa-egg"></i> are characters I relate to heavily, while all others are just characters I like a lot.
      </p>
      <ul class="list-unstyled intro-card">
        <li><i class="fas fa-egg mr-2"></i> Courtney, Total Drama</li>
        <li><i class="fas fa-egg mr-2"></i> Roberta "Bertie" Songthrush, Tuca and Bertie</li>
        <li><i class="fas fa-egg mr-2"></i> Pearl, Steven Universe</li>
        <li><i class="fas fa-egg mr-2"></i> Dipper Pines, Gravity Falls</li>
        <li><i class="fas fa-egg mr-2"></i> Rika Kawai, Wonder Egg Priority</li>
        <li><i class="fas fa-egg mr-2"></i> Flame Princess, Adventure Time</li>
        <li><i class="fas fa-egg mr-2"></i> Kaguya Shinomiya, Love is War</li>
        <li><i class="fas fa-egg mr-2"></i> Shizuku Mizutani, Tonari no Kaibutsu-kun</li>
        <li><i class="fas fa-egg mr-2"></i> Kaori Miyazono, Your Lie in April</li>
        <li><i class="fas fa-egg mr-2"></i> Reagan Ridley, Inside Job</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Kiryuin Satsuki, Kill la Kill</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Saotome Mary, Kakegurui</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Nakiri Alice, Shokugeki no Soma</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Ene, Kagerou Project</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Yato, Noragami</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Yukihira Soma, Shokugeki no Soma</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Eruna Ichinomiya, Mikagura Gakuen Kumikyoku</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Karma Akabane, Assassination Classroom</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Azula, The Last Airbender</li>
      </ul>
    </div>

    <div class="card p-3 my-2 border-0">
      <div id="celebs" style="position: relative; top: -40px;"></div>
      <h1>celebrities</h1>
      <p><strong>Note:</strong> I'm usually anti-celebrity culture, but sometimes I am a stan.</p>
      <ul class="list-unstyled intro-card">
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Doja Cat</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Lil Nas X</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Megan Fox</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Robert Pattinson</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Kristen Stewart (I have not watched Twilight and refuse to)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Lorde</li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 px-1">
    <div class="card p-3 my-2 border-0">
      <div id="films" style="position: relative; top: -40px;"></div>
      <h1>movies/tv</h1>
      <ul class="list-unstyled intro-card">
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Adventure Time (2010-2018)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Bojack Horseman (2014-2020)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Lovebirds (2020)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Eternal Sunshine of the Spotless Mind (2004)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Old Guard (2020)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Spy Kids Franchise (2001-2003)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Haunting of Hill House (2018)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Half of It (2020)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Tuca and Bertie (2019-Present)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Mindhunter (2017-2019)</li>
      </ul>
    </div>

    <div class="card p-3 my-2 border-0">
      <div id="anime" style="position: relative; top: -40px;"></div>
      <h1>anime</h1>
      <ul class="list-unstyled intro-card">
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Noragami</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Kagerou Project/Mekakucity Actors</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Shokugeki no Soma</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Kyoukai no Kanata</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Kill la Kill</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Mirai Nikki</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Assassination Classroom</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Mikagura Gakuen Kumikyoku</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Mikagura Gakuen Kumikyoku</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Neon Genesis Evangelion</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Puella Magi Madoka Magica</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Wonder Egg Priority (season 1)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Kakegurui</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Your Lie in April</li>
      </ul>
    </div>

    <div class="card p-3 my-2 border-0">
      <div id="music" style="position: relative; top: -40px;"></div>
      <h1>music</h1>
      <p><strong>Note:</strong> The first half are artists I love, second half are specific songs.</p>
      <ul class="list-unstyled intro-card">
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Neighbourhood</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Front Bottoms</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Lorde</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Waterparks</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Arctic Monkeys</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Glass Animals</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Wallows</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Eve</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Predatory Wasp of the Palisades is Out to Get Us! by Sufjan Stevens</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Almost (Sweet Music) by Hozier</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Boats & Birds by Gregory and the Hawk</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Wozwald by Niru Kajitsu, specifically the Miyashita Yuu cover</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> DONTTRUSTME by 3oh!3</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Washing Machine Heart by Mitski</li>
      </ul>
    </div>
  </div>



  <div class="col-md-4 px-1">
   <div class="card p-3 my-2 border-0">
      <div id="books" style="position: relative; top: -40px;"></div>
     <h1>books</h1>
      <ul class="list-unstyled intro-card">
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Perks of Being a Wallflower by Stephen Chbosky</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Chronology of Water by Lidia Yuknavitch</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> A Series of Unfortunate Events by Lemony Snicket</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Hunger Games by Suzanne Collins</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Flowers for Algernon by Daniel Keyes</li>
      </ul>
   </div>

    <div class="card p-3 my-2 border-0">
      <div id="misc" style="position: relative; top: -40px;"></div>
      <h1>misc media</h1>
      <ul class="list-unstyled intro-card">
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Portal (video game)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Life is Strange (video game)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Love Nikki (mobile game)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Bo Burnham (comedian)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Heathers (musical)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Little Beast by Richard Siken (poem)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> I Know What You Think of Me by Tim Kreider (essay)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> Outbound by Hieu Minh Nguyen (poem)</li>
        <li><i class="fas fa-heart fa-rotate-270 mr-2"></i> The Woman Dies by Aoko Matsuda (poem)</li>
      </ul>
    </div>

    <div class="card p-3 my-2 border-0">
      <div id="anti" style="position: relative; top: -40px;"></div>
      <h1>anti-interests</h1>
      <p><strong>Note:</strong> I do not care if you enjoy anything listed here. This isn't to serve as a DNI, these are just things I happen to dislike and would prefer to avoid.</p>
      <ul class="list-unstyled intro-card">
        <li><i class="fas fa-times mr-2"></i> Taylor Swift</li>
        <li><i class="fas fa-times mr-2"></i> Thomas Sanders</li>
        <li><i class="fas fa-times mr-2"></i> MCYT*</li>
        <li><i class="fas fa-times mr-2"></i> 13 Reasons Why</li>
        <li><i class="fas fa-times mr-2"></i> Riverdale</li>
        <li><i class="fas fa-times mr-2"></i> Olivia Rodrigo**</li>
      </ul>
      <p>*I don't care to learn what MCYT is, I think some of the fanart I've seen going around is pretty neat.</p>
      <p>**I like some of her songs, I am just uninterested in her fanbase.</p>
    </div>
  </div>
</div>
<div class="card p-3 mt-3 text-center border-0">
    © 2021 • 8byte
  </div>
{% endblock content %}