{% extends "base.html" %}

{% block script %}
<script>
  var current = document.getElementById("nav-home");
  current.classList.add("active");
</script>
{% endblock script %}

{% block content %}
<div class="hidden-md-down" style="height: 60px;"></div>
<div class="card mx-auto" style="max-width: 700px;">
  <div class="row no-gutters">
    <div class="col-md-4 p-2">
      <div class="bg-accent h-100 p-1" style="min-height: 400px; position: relative; z-index: 99;">
        <div
          style="background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/images/55684422_cymZKtETPjY2uDA.png?1664976526'); background-size: 400px; background-position: top; height: 100%;">
        </div>
      </div>
    </div>
    <div class="col-md-8 d-flex flex-column p-2">
      <div class="mt-auto mb-0"></div>
      <div id="COLLAPSE-PARENT">
        <!---->
        <div class="collapse show" id="MAIN" data-parent="#COLLAPSE-PARENT">
          <h1 class="title">
            <span class="reverse">#</span>
            <span>eqqbyte</span>
          </h1>
          <span class="text-muted text-uppercase">she/her | 21 | eng/cn</span>
          <div class="p-1"></div>
          <p>just a silly little web dev on the internet :) made this site as an alternative to carrd because
            I wanted more customization lol
          </p>
          <ul class="list-unstyled mb-0">
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> call me <span class="text-body">egg</span>,
              friends can call me <span class="text-body">agnes</span> :)</li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> please <span class="text-accent">dni</span>
              if you're a lot younger/older than me</li>
          </ul>
        </div>
        <!---->
        <div class="collapse" id="CHARACTERS" data-parent="#COLLAPSE-PARENT">
          <h1 class="title">
            <span class="reverse">#</span>
            <span>characters</span>
          </h1>
          <p>all my characters are stored on my <a href="https://toyhou.se/eggbyte">toyhou.se</a> :) here are the
          ones I care about the most</p>
          <div class="row no-gutters justify-content-center mx-n2">
            <div class="col p-2">
              <div style="background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/characters/5796015?1664729834'); background-size: cover;">
                <a href="https://toyhou.se/5796015.rin-hase" class="d-block" style="padding-top: 100%;"></a>
              </div>
            </div>
            <div class="col p-2">
              <div style="background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/characters/5798728?1664729798'); background-size: cover;">
                <a href="https://toyhou.se/5798728.elias-cyrilli" class="d-block" style="padding-top: 100%;"></a>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col p-2">
              <div style="background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/characters/5829139?1656451290'); background-size: cover;">
                <a href="https://toyhou.se/5829139.io" class="d-block" style="padding-top: 100%;"></a>
              </div>
            </div>
            <div class="col p-2">
              <div style="background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/characters/10671672?1656451204'); background-size: cover;">
                <a href="https://toyhou.se/10671672.europa" class="d-block" style="padding-top: 100%;"></a>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col p-2">
              <div style="background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/characters/11958066?1666961697'); background-size: cover;">
                <a href="https://toyhou.se/11958066.paren" class="d-block" style="padding-top: 100%;"></a>
              </div>
            </div>
            <div class="col-12"></div>
            <div class="col p-2">
              <small>+ <a href="https://toyhou.se/eggbyte/characters/folder:2645457" class="text-muted">other edanverse ocs</a></small>
            </div>
            <div class="col-1"></div>
            <div class="col p-2">
              + <a href="https://toyhou.se/5829147.ganymede" class="text-muted">ganymede</a>, <a href="https://toyhou.se/5829144.callisto" class="text-muted">callisto</a>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
        <!---->
        <div class="collapse" id="INTERESTS" data-parent="#COLLAPSE-PARENT">
          <h1 class="title">
            <span class="reverse">#</span>
            <span>interests</span>
          </h1>
          <span>Here are some characters I will not stop yapping about:</span>
          <div class="row no-gutters justify-content-center mx-n2">
            <div class="col p-2">
              <div style="background-image: url('/satsuki.jpg'); background-size: cover; padding-top: 100%;"></div>
            </div>
            <div class="col p-2">
              <div style="background-image: url('/kobeni.jpg'); background-size: cover; padding-top: 100%;"></div>
            </div>
            <div class="col p-2">
              <div style="background-image: url('/mary.jpg'); background-size: cover; padding-top: 100%;"></div>
            </div>
            <div class="col p-2">
              <div style="background-image: url('/ene.jpg'); background-size: cover; padding-top: 100%;"></div>
            </div>
            <div class="col p-2">
              <div style="background-image: url('/eruna.jpg'); background-size: cover; padding-top: 100%;"></div>
            </div>
            <div class="col p-2">
              <div style="background-image: url('/rika.jpg'); background-size: cover; padding-top: 100%;"></div>
            </div>
            <div class="col p-2">
              <div style="background-image: url('/courtney.jpg'); background-size: cover; padding-top: 100%;"></div>
            </div>
          </div>
          <span>and here are (some of) my top tumblr fandom tags (derogatory):</span>
          <ul class="list-unstyled double-list mb-0">
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> madoka</li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> kagepro/vocaloid</li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> adventure time</li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> mlp</li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> atla</li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> playchoices</li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> bojack horseman</li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> evangelion :(</li>
          </ul>
        </div>
        <!---->
        <div class="collapse" id="PROJECTS" data-parent="#COLLAPSE-PARENT">
          <h1 class="title">
            <span class="reverse">#</span>
            <span>projects</span>
          </h1>
          <p>these are mostly just coding projects... </p>
          <div class="row no-gutters mx-n2">
            <div class="col-2 p-2">
              <div style="background-image: url('https://www.artscuffle.xyz/artscuffle.png'); background-size: cover; padding-top: 100%;"></div>
            </div>
            <div class="col-10 p-2">
              <h5 class="text-uppercase my-1" style="letter-spacing: 1px;">
              <a href="https://artscuffle.xyz">Artscuffle</a></h5>
              <small class="text-muted">Discord bot to host mini-Artfight-esque games within friend servers.</small>
            </div>
          </div>
          <small class="text-muted">+ <a href="https://safehou-se.vercel.app" class="text-muted">safehou-se</a></small>
        </div>
        <!---->
        <div class="collapse" id="CREDITS" data-parent="#COLLAPSE-PARENT">
          <h1 class="title">
            <span class="reverse">#</span>
            <span>credits</span>
          </h1>
          <ul class="list-unstyled mb-0">
            <li><i class="fas fa-chevron-right mr-2"></i> side image by <a href="https://instagram.com/joifulli"
                class="text-muted">joifulli</a></li>
            <li><i class="fas fa-chevron-right mr-2"></i> icons on characters tab by <a href="https://www.instagram.com/andreyyyy_uwu/"
                class="text-muted">andreyyyy_uwu</a> and <span class="text-muted">CoachSatann</span></li>
            <li><i class="fas fa-chevron-right mr-2"></i> site design and code by <a href="https://8byte.vercel.app"
                class="text-muted">me!!!</a></li>
          </ul>
          <p>if you're interested in getting a site like this, hmu on discord or any of my socials :3</p>
        </div>
        <!---->
        <div class="collapse" id="SOCIALS" data-parent="#COLLAPSE-PARENT">
          <h1 class="title">
            <span class="reverse">#</span>
            <span>socials</span>
          </h1>
          <ul class="list-unstyled double-list mb-0">
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> <a href="https://eqqbyte.tumblr.com"
                class="text-muted">tumblr</a></li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> <a href="https://twitter.com/eqqbyte"
                class="text-muted">twitter</a></li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> <a href="https://toyhou.se/eggbyte"
                class="text-muted">toyhouse</a></li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> <a href="https://retrospring.net/egg"
                class="text-muted">retrospring</a></li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> <a href="https://vgen.co/eggbyte"
                class="text-muted">vgen</a></li>
          </ul>
          <h5 class="text-uppercase my-1" style="letter-spacing: 1px;">code related</h5>
          <ul class="list-unstyled double-list mb-0">
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> <a href="https://8byte.vercel.app"
                class="text-muted">portfolio site</a></li>
            <li class="text-muted"><i class="fas fa-chevron-right mr-2"></i> <a href="https://toyhou.se/8byte"
                class="text-muted">toyhouse</a></li>
          </ul>
        </div>
        <!-- end all collapses -->
      </div>
      <div class="p-2"></div>
      <strong class="text-uppercase" style="letter-spacing: 1px;">navigation</strong>
      <div class="d-flex flex-row flex-wrap mx-n1">
        <a href="#CHARACTERS" data-toggle="collapse" class="btn btn-sm btn-accent m-1" onclick="openMain()">characters</a>
        <a href="#INTERESTS" data-toggle="collapse" class="btn btn-sm btn-accent m-1" onclick="openMain()">interests</a>
        <a href="#PROJECTS" data-toggle="collapse" class="btn btn-sm btn-accent m-1" onclick="openMain()">projects</a>
        <a href="#CREDITS" data-toggle="collapse" class="btn btn-sm btn-accent m-1" onclick="openMain()">credits</a>
      </div>
      <div class="p-4"></div>
    </div>
    <div class="col-12 d-flex justify-content-end align-items-center bg-faded mt-n5">
      <div class="text-right p-2">
        <a href="https://eqqbyte.tumblr.com" class="mx-1">tumblr</a>
        <a href="https://twitter.com/eqqbyte" class="mx-1">twitter</a>
        <a href="https://toyhou.se/eggbyte" class="mx-1">toyhouse</a>
        <i class="fab fa-discord mr-1"></i>
        <span class="text-muted">eggbyte</span>
        <a href="#SOCIALS" data-toggle="collapse" class="mx-2" onclick="openMain()">
          <span data-toggle="tooltip" data-placement="bottom" title="more sites"><i class="fas fa-plus"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}