{% extends "base.html" %}

{% block content %}
<div class="mx-auto" style="max-width: 700px;">
  <div class="bg-faded p-2">
    <a href="/" class="mr-2"><i class="fas fa-house"></i></a>
  </div>

  <div class="card p-3">
    <h1 class="title text-uppercase font-italic">
      <span>interests</span>
      <span class="reverse">!!</span>
    </h1>
  </div>
  <div class="p-1"></div>
  <div class="row no-gutters mx-n2">
    <div class="col-md-4 p-2">
      <div class="row no-gutters m-n2">
        <div class="col-6 p-2">
          <div style="background-image: url('/courtney.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-6 p-2">
          <div style="background-image: url('/bertie.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-6 p-2">
          <div style="background-image: url('/rika.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-6 p-2">
          <div style="background-image: url('/kobeni.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
      </div>
    </div>
    <div class="col-md-8 p-2">
      <div class="d-flex justify-content-between align-items-end mb-2">
        <h3 class="text-accent text-uppercase mb-0" style="letter-spacing: 1px;">Kins</h3>
        <span class="text-muted">Disclaimer: don't take these too seriously lol</span>
      </div>
      <div class="card p-3">
        <p>+ dipper pines, <u>pearl from su</u>, flame princess, kaguya shinomiya, shizuku mizutani, kaori miyazono, <u>reagan ridley</u></p>
      </div>
    </div>

    <div class="col-12 px-2">
      <hr class="mb-2">
    </div>
    <div class="col-12 p-2">
      <h3 class="text-accent text-uppercase mb-0" style="letter-spacing: 1px;">Husbands + Wives</h3>
      <div class="row no-gutters justify-content-center mx-n2">
        <div class="col-2 p-2">
          <div style="background-image: url('/satsuki.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/yato.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/mary.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/alice.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/ene.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/soma.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/eruna.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/karma.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/azula.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
        <div class="col-2 p-2">
          <div style="background-image: url('/mayuko.jpg'); background-size: cover; padding-top: 100%;"></div>
        </div>
      </div>
    </div>
    <div class="col-12 px-2">
      <hr class="mt-0 mb-2">
    </div>

    <div class="col-12 p-2">
      <h3 class="text-accent text-uppercase mb-0" style="letter-spacing: 1px;">Top Media</h3>


    </div>
    <div class="col-12 px-2">
      <hr class="mt-0 mb-2">
    </div>

    <div class="col-12 p-2">
      <h3 class="text-accent text-uppercase mb-0" style="letter-spacing: 1px;">Music</h3>


    </div>
  </div>
  
</div>

{% endblock content %}